.frame-container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.frame{
    width: 90vw;
    height: 90vh;
    border: 5px solid white;
}

.closeMap{
    margin: 5%;
    position: absolute;
    top: 0%;
    right: 2%;
}
.closeMap:hover{
    background-color: white;
    cursor: pointer;
    transform: scale(1.2);
}