<div class="login-container">
    <div class="left-login">
        <span class="findcozy-logo">
            <img src="../../assets/images/Find Cozy_transparent.png" alt="log" width="100%">
        </span>

        <input class="field" type="text" placeholder="Enter Email" [(ngModel)]="userEmail">
        <input class="field" type="password" placeholder="Enter Password" [(ngModel)]="userPassword">
        <button class="field btn" (click)="openHome()">LOGIN</button>
        <span class="singup-link">Don't have a accout yet? SignUp</span>
    </div>
    <div class="right-login">
        <div class="tag-head">
            The Gateway to
        </div>
        <div class="tag-line">
            <div class="rotatingText-adjective">Your Dream</div>
        </div>
    </div>

</div>