<div class="home-container">
    <div class="home">
        <div class="head">
            <span class="head-title">
                <img src="../../assets/images/Find Cozy_transparent.png" alt="Logo" height="50px">
            </span>
            <span class="profile">
                <button class="map" [routerLink]="['/map']"><img src="../../assets/images/location_on_24dp_FILL0_wght400_GRAD0_opsz24(1).png" alt="map"  title="Open map" height="30px"></button>
                <img  class="logout" (click)="logout()" src="../../assets/images/logout_48dp_FILL0_wght500_GRAD0_opsz48.png" alt="Logout" height="30px" title="Logout">
            </span>
        </div>
        <div class="nav-bar">
            <span>
                <select id="propertyType" name="propertyType" class="field" [(ngModel)]="selectedPropertyType">
                    <option value="">Select Property Type</option>
                    <option *ngFor="let type of propertyTypes" [value]="type">{{ type }}</option>
                  </select>
            </span>
            <span class="hr"></span>
            <span>
                <select class="field" [(ngModel)]="selectedLocation">
                    <option value="">Select Location</option>
                    <option *ngFor="let type of locations" [value]="type">{{ type }}</option>
                  </select>
            </span>
            <span class="hr"></span>
            <span>
                <select class="field" [(ngModel)]="selectedNumRooms">
                    <option value="">Select No of Rooms</option>
                    <option *ngFor="let type of noOfRooms" [value]="type">{{ type}}</option>
                  </select>
            </span>
            <span class="hr"></span>
            <span>
                <select  class="field" [(ngModel)]="selectedPriceRange">
                    <option value="">Price Range</option>
                    <option *ngFor="let type of priceRanges" [value]="type">{{ type}}</option>
                  </select>
            </span>
            <span class="hr"></span>
            <span class="search-bar">
                <input type="text" placeholder="Search" [(ngModel)]="searchText"  class="field">
                <img class="image-search-button"(click)="search()" src="../../assets/images/search_24dp_FILL0_wght700_GRAD200_opsz24.png" alt="Search Button" height="30px">
            </span>
        </div>
        <div class="home-content">
            <div class="carousel">
                <div class="property-list">
                    <div *ngFor="let property of properties;" class="property-card">
                        <span class="pro-image Image-container">
                            <span class="image-wrapper" >
                                <span class="img-top">
                                <img  class="each-photo" *ngIf="property.Image && property.Image.length > 0" [src]="property.Image[property.index]" alt="Photo" (click)="openImageInNewTab(property.Image[property.index])" title="View Full Size Image">
                                <span  class="no-image"*ngIf="property.Image.length<1">
                                    <span>No Image Found</span>
                                </span>
                                <span class="direction">
                                    <img (click)="property.index = (property.index -1+property.Image.length)%property.Image.length;" class="left-btn" src="../../assets/images/chevron_left_24dp_FILL0_wght400_GRAD200_opsz24(1).png" alt="left button" >
                                    <img (click)="property.index = (property.index +1)%property.Image.length;" class="right-btn" src="../../assets/images/chevron_right_24dp_FILL0_wght400_GRAD200_opsz24.png" alt="Right buttin">
                                </span>
                            </span>
                             </span>
                        </span>
                        

                      <div class="property-details">
                        <div class="property-details-more">
                            <!-- <span class="property-type">{{ property.type }}</span>
                            <span class="ruler-hr"></span> -->
                            <span class="property-address">
                                <span class="add">{{ property.address }}</span>
                            </span>
                            <span class="ruler-hr"></span>
                            <span class="property-info">Location: {{ property.location }}</span>
                            <span class="property-info">Rent: {{ property.rent|currency : 'INR' }}/month</span>
                            <span class="property-info">Rooms: {{ property.rooms }}</span>
                            <span class="property-info">Parking: {{ property.parking }}</span>
                            
                            <button class="btn-book-now" [routerLink]="['/pay']">Book Now</button>
                    </div>
                      </div>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
</div>